@import url('standard-size.css');
img{

	margin: auto;
}

iframe{
	width:100%;
	height: 210px;
}

footer{

    background-color: #682B38;     
    color: #fff; 
    font-size: 14px;
    line-height: 1.42857;    
}
footer a{
	color:#64ABB9;
}
footer a:hover{
	color:#64ABB9;
}

.margin-top{
	margin-top: 4.5em; 
}

.dropcap{
	-moz-border-radius   : 500px;
	-moz-box-sizing      : border-box;
	-ms-border-radius    : 500px;
	-ms-box-sizing       : border-box;
	-o-border-radius     : 500px;
	-o-box-sizing        : border-box;
	-webkit-border-radius: 500px;
	-webkit-box-sizing   : border-box;
	border-radius        : 500px;
	box-sizing           : border-box;
	float                : left;
	height               : 88px;
	margin-right         : 24px;
	margin-top           : 4px;
	position             : relative;
	text-align           : center;
	width                : 88px;
	background-color     : #BCBCBC;
	border               : 8px solid #fff;
}
.dropcap-default {
	background-color: #664D3F;
	border      : 8px solid #B89E8D;
}
.dropcap-primary {
	background-color: #4C99A8;
	border      : 8px solid #64ABB9;
}
.dropcap-success {
	background-color: #80C28D;
	border      : 8px solid #D6E9C6;
}
.dropcap-info {
	background-color: #63B3B0;
	border      : 8px solid #84C1BE;
}
.dropcap-warning {
	background-color: #F7D343;
	border      : 8px solid #F9DC6A;
}
.dropcap-danger {
	background-color: #622935;
	border      : 8px solid #7F3545;
}

.dropcap span {
color         : #fff;
font-family   : 'Alfa Slab One', cursive;
font-size     : 30px;
line-height   : 66px;
vertical-align: middle;
}

